.mt {
    margin-top: 25px !important;
}
.center {
    margin: auto;
    text-align: center
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    width: 50%;
}
.grid-cell {
    padding: 20px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    margin: 2px;
    height: 100px;
}